<% if book.favorited_by?(current_user) %>
  <td>
    <%= link_to book_favorites_path(book), method: :delete do %>
    <i class="fas fa-heart"></i>
    <%= book.favorites.count %>
  </td>
  <% end %>
<% else %>
  <td>
    <%= link_to book_favorites_path(book), method: :post do %>
    <i class="far fa-heart"></i>
    <%= book.favorites.count %>
  </td>
  <% end %>
<% end %>